<footer class="page-footer" data-midnight="dark">
    <div class="page-footer__inner">


        <div class="container">
            <div class="page-footer__content">


                <div class="page-footer__top-row">
                    <div class="page-footer__left-col">
                        <div class="page-footer__contacts">
                            <div class="page-footer__contacts-data">
                                <a href="#" class="page-footer__phone-link">
                                    +7 987 419-41-91
                                </a>
                                <a href="#" class="page-footer__mail-link">
                                    info@markweber.ru
                                </a>
                            </div>

                            <ul class="page-footer__social-list">
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-fb">
                                            <use xlink:href="#fb" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-footer__right-col">
                        <div class="page-footer__navigation">
                            <nav class="page-footer__main-nav">
                                <ul>
                                    <li>
                                        <a href="index.html" class="page-footer__main-nav-link" data-text="Главная">
                                            <div class="page-footer__main-nav-link-inner">
                                                Главная
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#to-cases" class="page-footer__main-nav-link" data-text="Портфолио">

                                            <div class="page-footer__main-nav-link-inner">
                                                Портфолио
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="page-footer__main-nav-link" data-text="Контакты">

                                            <div class="page-footer__main-nav-link-inner">
                                                Контакты
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="page-footer__navigation-secondary">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Истории
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Вакансии
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Команда
                                        </a>
                                    </li>
                                </ul>

                              
                            </nav>
                        </div>
                        <div class="page-footer__buttons">
                            <a href="contact.html" class="page-footer__brief-link">
                                Заполнить бриф
                            </a>
                            <a href="#" class="page-footer__download-link">
                                <div class="page-footer__download-link-icon">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-download">
                                        <use xlink:href="#download" />
                                    </svg>
                                </div>

                                <div class="page-footer__download-link-content">
                                    <div class="page-footer__download-link-text">
                                        Скачать презентацию
                                    </div>
                                    <div class="page-footer__download-link-format">
                                        PDF, 2.3 МБ
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>


                </div>
                <div class="page-footer__bottom-row">
                    <div class="page-footer__left-col">
                        <div class="page-footer__copyright">
                            © 2007 — 2020
                        </div>
                    </div>
                    <div class="page-footer__right-col">
                        <a href="#" class="page-footer__policy-link">
                            Использование данных
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</footer>