<header class="page-header">
    <div class="container">
        <div class="page-header__row">

            <a href="#" class="page-header__logo-link">
                <img src="img/logo.svg" alt="Лого" class="page-header__logo-image" width="100">
            </a>
            <a href="#" class="page-header__about-link">
                О студии
            </a>
            <div class="page-header__buttons">
                <button class="page-header__button">
                    <span class="page-header__button-content">
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <a href="#" class="page-header__contact-link">
                    Связаться
                </a>
            </div>

        </div>
    </div>
</header>