<div class="menu">
    <div class="menu__bg">

    </div>
    <div class="container">
        <div class="menu__inner">
            <div class="menu__grid-wrapper">
                <div class="menu__grid">
                    <div class="menu__secondary-nav">
                        <ul>
                            <li>
                                <a href="#">
                                    Работа у нас
                                </a>
                            </li>
                        </ul>
                    </div>
                    <nav class="menu__main-nav">
                        <ul>
                            <li>
                                <a href="#to-cases">
                                    Портфолио
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu__contacts">
                        <a href="tel:88002504406" class="menu__phone-link">8 800 250-44-06</a>
                        <a href="mailto:info@markweber.ru" class="menu__email-link">info@markweber.ru</a>
                    </div>

                    <div class="menu__brief">
                        <a href="contact.html" class="menu__brief-link">
                            Заполнить бриф
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>