<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/blocks/news-author.css" />
    <link rel="stylesheet" href="css/blocks/news-blockquote.css" />
    <link rel="stylesheet" href="css/blocks/news-comment.css" />
    <link rel="stylesheet" href="css/blocks/news-image-fullwidth.css" />
    <link rel="stylesheet" href="css/blocks/news-image.css" />
    <link rel="stylesheet" href="css/blocks/news-intro.css" />
    <link rel="stylesheet" href="css/blocks/news-question.css" />
    <link rel="stylesheet" href="css/blocks/news-remarked.css" />
    <link rel="stylesheet" href="css/blocks/news-simple.css" />
    <link rel="stylesheet" href="css/blocks/case-simple.css" />
    <link rel="stylesheet" href="css/blocks/case-intro.css" />
    <link rel="stylesheet" href="css/blocks/case-images.css" />
    <link rel="stylesheet" href="css/blocks/case-image.css" />
    <link rel="stylesheet" href="css/blocks/case-mockup.css" />
    <link rel="stylesheet" href="css/blocks/case-images-row.css" />
    <link rel="stylesheet" href="css/blocks/case-next.css" />
    <title>
        {{ title }}
    </title>
</head>

<body class="no-touch {{#if dark}} dark {{/if}}" ontouchstart="">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        {{> sprite }}
    </div>

    <div class="page-content">
        {{> menu }}
        {{> header }}
        <style>
            .loader {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #24282b;
                z-index: 800;
                display: flex;
                flex-direction: column;
               
                transition: clip-path .5s cubic-bezier(0.74, 0.01, 0.12, 0.99) 1.2s;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            .loader-container {
                width: 100%;
                max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
                margin: 0 auto;
                padding: 0 var(--content-padding);
                position: relative;
                flex-grow: 1;
                display: flex;
                flex-direction: column;

            }

            .loader-container::before,
            .loader-container::after {
                content: '';
                width: 1px;
                flex-grow: 1;
                transition: flex-grow .7s cubic-bezier(0.74, 0.01, 0.12, 0.99) .4s;
            }

            @supports (width: max(20vw, 100px)) {
                .loader-container {
                    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
                    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
                }

            }

            .loader-logo-wrapper {
                min-height: var(--header-height);
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                margin-top: -.2rem;
            }

            .loader svg {
                width: 10rem;
                fill: white;
                opacity: 0;
                animation-name: fade-in;
                animation-fill-mode: forwards;
                animation-duration: .3s;
                animation-delay: .1s;
            }


            @keyframes fade-in {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            .loader svg .bar {
                transition: clip-path .4s;
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }

            .animatable .loader svg .bar {
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            .animatable .loader-container::before {
                flex-grow: 0;
            }

            .animatable .loader {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            }

            @media screen and (max-width: 640px) {
                .loader svg {
                    width: 8.4rem;
                    position: relative;
                    bottom: -0.2rem;
                }
            }
        </style>
        <div class="loader">
            <div class="loader-container">

                <div class="loader-logo-wrapper">


                    {{> logo }}
                </div>
            </div>
        </div>
        <main class="page-main">
            {{#block "main"}}

            {{/block}}

        </main>

        {{#unless noFooter}}
        {{> footer }}
        {{/unless}}
        {{> ie-placeholder }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/js/midnight.js"></script>
        <script src="js/app.js"></script>
        <script src="assets/js/backend.js"></script>
    </div>
</body>

</html>