@import '../mixins';

.case-images-row {
    position: relative;
    z-index: 1;
    background: #41342d;
    color: white;
    padding: 10rem 0;

    @include breakpoint(mobile) {
        padding: 4rem 0;
    }
}

.case-images-row__row {
    padding: 0 12rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 13rem;
    grid-row-gap: 6rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: stretch;
        padding: 0 2rem;
    }
}

.case-images-row__image {

    opacity: 0;
    transition: opacity .5s, transform .5s;
    transform: translateY(3rem);

    .revealed & {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
        transform: translateY(0);
    }

    @include breakpointMF(small-tablet) {
       
        height: auto;
       
        &:nth-child(2) {
            margin-top: 12rem;
            transition-delay: .3s;
        }
        &:nth-child(3) {
            margin-top: 24rem;
            transition-delay: .6s;
        }
    }
    
}
