.case-mockup {
    position: relative;
    z-index: 1;
    background: #41342d;
    color: white;
}

.case-mockup__wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.case-mockup__mockup-image {
    display: block;
    width: 100%;
    height: auto;
}

.case-mockup__content-wrapper {
    position: absolute;
    background: #4a5055;
    top: 14.5%;
    bottom: 18.5%;
    left: 22.62%;
    right: 22.58%;
    z-index: 10;

    img,
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transition: clip-path 0.5s;
    }

    .revealed & {
        img,
        video {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}
