@import '../mixins';

.news-blockquote {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 16rem;
    padding-top: 7rem;

    @include breakpoint(mobile) {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 7rem;
    }
}

.news-blockquote__content {
    padding-left: var(--left-column-width);
    opacity: 0;
    transform: translateY(7rem);
    transition: transform .5s, opacity .5s;

    @include breakpoint(mobile) {
        transform: translateY(3rem);
    }

    .revealed & {
        opacity: 1;
        transform: translateY(0);
    }
    @include breakpoint(mobile) {
        padding: 0;
    }
}

.news-blockquote__text {
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 115%;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }
}
