{{#extend "layout"}}
{{#content "main"}}

<section class="about-intro">
    <div class="about-intro__bg">
        <img src="img/about-bg.jpg" alt="" class="about-intro__bg-image">
    </div>
    <div class="container">
        <div class="about-intro__content">
            <div class="about-intro__top-info">
                <a href="#" class="about-intro__about-link" data-text="О студии">
                    <div class="about-intro__about-link-inner">
                        О студии
                    </div>

                </a>
            </div>
            <div class="about-intro__words">
                <div class="about-intro__words-line">
                    <div class="about-intro__logo-part">
                        <img src="img/mark-f.svg" alt="" class="about-intro__logo-part-image">
                        <img src="img/mark.svg" alt="" class="about-intro__logo-part-image">
                    </div>
                    <div class="about-intro__words-text">
                        Marketing —<br>
                        to understand people
                    </div>
                </div>
                <div class="about-intro__words-line">
                    <div class="about-intro__words-text">
                        Web —<br>
                        to solve people's problems
                    </div>
                    <div class="about-intro__logo-part">
                        <img src="img/weber-f.svg" alt="" class="about-intro__logo-part-image">
                        <img src="img/weber.svg" alt="" class="about-intro__logo-part-image">
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="about-text" data-midnight="dark">
    <div class="container">
        <div class="about-text__content">
            <div class="about-text__text js-sliding-text">
                Марк Вебер — это digital-студия, базирующаяся в Казани, но работающая на весь мир. Создаем удобные в
                пользовании эстетичные digital-продукты, которые решают бизнес-задачи в различных отраслях: финансы,
                производство, IT, медицина, медиа, недвижимость и др.
            </div>
        </div>
    </div>
</section>

<section class="about-numbers" data-midnight="dark">
    <div class="container">
        <div class="about-numbers__content">
            <div class="about-numbers__circles">
                <div class="about-numbers__circle">
                    <div class="about-numbers__circle-content">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                            <circle cx="22" cy="22" r="21" fill="none" stroke-width="1" stroke="#DEDFDF"
                                vector-effect="non-scaling-stroke" />
                        </svg>
                        <div class="about-numbers__circle-content-inner">


                            <div class="about-numbers__circle-amount">
                                15+
                            </div>
                            <div class="about-numbers__circle-text">
                                Years in business
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-numbers__circle">
                    <div class="about-numbers__circle-content">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44">
                            <circle cx="22" cy="22" r="21" fill="none" stroke-width="1" stroke="#DEDFDF"
                                vector-effect="non-scaling-stroke" />
                        </svg>
                        <div class="about-numbers__circle-content-inner">


                            <div class="about-numbers__circle-amount">
                                120+
                            </div>
                            <div class="about-numbers__circle-text">
                                Projects done
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="about-numbers__achievements-list">
                <li class="about-numbers__achievements-list-item">
                    <div class="about-numbers__achivements-card">
                        <div class="about-numbers__achivements-card-amount">
                            120+
                        </div>
                        <div class="about-numbers__achivements-card-text">
                            Projects done
                        </div>
                    </div>
                </li>
                <li class="about-numbers__achievements-list-item">
                    <div class="about-numbers__achivements-card">
                        <div class="about-numbers__achivements-card-amount">
                            100%
                        </div>
                        <div class="about-numbers__achivements-card-text">
                            Design approvals
                        </div>
                    </div>
                </li>
                <li class="about-numbers__achievements-list-item">
                    <div class="about-numbers__achivements-card">
                        <div class="about-numbers__achivements-card-amount">
                            15+
                        </div>
                        <div class="about-numbers__achivements-card-text">
                            Years in business
                        </div>
                    </div>
                </li>
                <li class="about-numbers__achievements-list-item">
                    <div class="about-numbers__achivements-card">
                        <div class="about-numbers__achivements-card-amount">
                            15+
                        </div>
                        <div class="about-numbers__achivements-card-text">
                            Years in business
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="about-team" data-midnight="dark">
    <div class="container">
        <div class="about-team__content">
            <h2 class="about-team__heading">
                Team
            </h2>
            <ul class="about-team__list">
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/1.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Rustem Biktagirov
                        </h3>
                        <div class="about-team__card-role">
                            CEO
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/2.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Shamil Khairulin
                        </h3>
                        <div class="about-team__card-role">
                            Lead Manager
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/3.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Tony Stark
                        </h3>
                        <div class="about-team__card-role">
                            CTO
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/4.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Rustem Biktagirov
                        </h3>
                        <div class="about-team__card-role">
                            CEO
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/5.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Rustem Biktagirov
                        </h3>
                        <div class="about-team__card-role">
                            CEO
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/6.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Shamil Khairulin
                        </h3>
                        <div class="about-team__card-role">
                            Lead Manager
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/7.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Tony Stark
                        </h3>
                        <div class="about-team__card-role">
                            CTO
                        </div>
                    </a>
                </li>
                <li class="about-team__list-item">
                    <a href="#" class="about-team__card">
                        <div class="about-team__card-image-container">
                            <img data-src="img/team/8.jpg" alt="" class="about-team__card-image lazyload">
                        </div>
                        <h3 class="about-team__card-title">
                            Cera Pro, Medium
                        </h3>
                        <div class="about-team__card-role">
                            CEO
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="about-text" data-midnight="dark">
    <div class="container">
        <div class="about-text__content">
            <div class="about-text__text js-sliding-text">
                We are a comprehensive design and technology partner for the digital age. We help businesses to
                innovate and remain highly relevant to their customers by developing cutting-edge
            </div>
        </div>
    </div>
</section>


<section class="about-gallery js-about-gallery" data-midnight="dark">
    <div class="container">
        <div class="about-gallery__content">
            <div class="about-gallery__arrows">
                <button class="about-gallery__arrows-btn about-gallery__arrows-btn--prev">
                    <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                        <use xlink:href="#slider-arrow-left" />
                    </svg>
                </button>
                <button class="about-gallery__arrows-btn about-gallery__arrows-btn--next">
                    <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                        <use xlink:href="#slider-arrow-right" />
                    </svg>
                </button>
            </div>
            <div class="about-gallery__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-gallery__slider-card">
                                <img src="img/about-gallery/1.jpg" alt="" class="about-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-gallery__slider-card">
                                <img src="img/about-gallery/2.jpg" alt="" class="about-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-gallery__slider-card">
                                <img src="img/about-gallery/1.jpg" alt="" class="about-gallery__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-gallery__slider-card">
                                <img src="img/about-gallery/2.jpg" alt="" class="about-gallery__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-gallery__slider-gaps-overlay">
                    <div class="about-gallery__slider-gap">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-awards" data-midnight="dark">
    <div class="container">
        <div class="ticker about-awards__ticker js-ticker">
            <div class="ticker__track">
                <div class="ticker__inner-track">
                    <div class="ticker__item">
                        Премии — Награды&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="about-awards__content">
            <ul class="about-awards__list">
                <li class="about-awards__list-item">
                    <a href="#" class="about-awards__card">
                        <img src="img/about-awards-icons/1.svg" alt="" class="about-awards__card-icon">
                        <div class="about-awards__card-text">
                            <p>
                                "Марк Вебер" — студия №1 в Республике Татарстан в рейтинге CMS Magazine
                            </p>
                        </div>
                    </a>
                </li>
                <li class="about-awards__list-item">
                    <a href="#" class="about-awards__card">
                        <img src="img/about-awards-icons/2.svg" alt="" class="about-awards__card-icon">
                        <div class="about-awards__card-text">
                            <p>
                                "Золотой сайт" 2020 в категории "Лучший сайт в ПФО" за mycorner.ru
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="project-types" data-midnight="light">
    <div class="container">
        <div class="project-types__content">
            <div class="project-types__competencies js-project-types-competencies">
                <h2 class="project-types__competencies-heading">
                    Сompetencies
                </h2>
                <div class="project-types__competencies-wrapper">
                    <ul class="project-types__competencies-list">
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Корпоративные сайты
                            </a>
                        </li>
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Модульные сайты
                            </a>
                        </li>
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Промо-сайты
                            </a>
                        </li>
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Интернет-магазины
                            </a>
                        </li>
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Веб-сервисы
                            </a>
                        </li>
                        <li class="project-types__competencies-list-item">
                            <a href="#" class="project-types__competencies-card">
                                Мобильные приложения
                            </a>
                        </li>
                    </ul>
                    <div class="project-types__competencies-cursor">
                        <div class="project-types__competencies-cursor-inner">


                            <div class="project-types__competencies-cursor-layer active">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                            <div class="project-types__competencies-cursor-layer">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                            <div class="project-types__competencies-cursor-layer">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                            <div class="project-types__competencies-cursor-layer">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                            <div class="project-types__competencies-cursor-layer">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                            <div class="project-types__competencies-cursor-layer">
                                <img src="img/project-types-cursor.png" alt=""
                                    class="project-types__competencies-cursor-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-types__stack js-tabs">
                <div class="project-types__stack-left-col">
                    <h3 class="project-types__stack-heading">
                        Stack
                    </h3>
                    <ul class="project-types__stack-list">
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn active js-tabs-btn">
                                1С-Битрикс
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                Wordpress
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                HTML, CSS, верстка (адаптивная, bootstrap)
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                PHP (5.*, 7.*), JavaScript, jQuery, Node Js, Webpack, gulp
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                Docker, Docker Compose
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                MySQL, PostgreSQL, MongoDB, SQL Server, GraphQL
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                ReactJS + Redux, React Native, Vue.JS + vuex, Babel
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                PostgreSQL, mySQL
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                Git: github, bitbucket, gogs
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                iOS, Android — native; react-native
                            </a>
                        </li>
                        <li class="project-types__stack-list-item">
                            <a href="#" class="project-types__stack-btn js-tabs-btn">
                                Интеграция со сторонними система (1C, CRM, ERP)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-types__stack-right-col">
                    <h3 class="project-types__stack-heading">
                        Projects
                    </h3>
                    <div class="project-types__stack-tabs">
                        <div class="project-types__stack-tabs-item active js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="project-types__stack-tabs-item js-tabs-item">
                            <ul class="project-types__stack-projects-list">
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NEONART
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Yalilov&Partners
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Starke
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        FLAMAX
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        XGUIDE
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        NLI
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="project-types__stack-projects-list-item">
                                    <a href="#" class="project-types__stack-projects-link">
                                        Afisha Kazani
                                        <svg width="24" height="24" aria-hidden="true" class="icon-projects-type-arrow">
                                            <use xlink:href="#projects-type-arrow" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-clients" data-midnight="dark">
    <div class="container">
        <div class="our-clients__content">
            <h2 class="our-clients__heading">
                Our clients
            </h2>
            <div class="our-clients__text js-sliding-text">
                We are a comprehensive design and<br> technology partner for the digital age.
            </div>
        </div>
        <div class="our-clients__partners-sliders">
            <div class="our-clients__partners-slider js-partners-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/1.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/2.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/3.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/4.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/1.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/2.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/3.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/4.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-clients__partners-slider js-partners-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/5.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/6.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/7.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/8.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/5.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/6.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/7.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__partners-slider-card">
                                <img src="img/about-partners/8.svg" alt=""
                                    class="our-clients__partners-slider-card-logo">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="our-clients__clients-slider js-clients-slider">
            <div class="our-clients__clients-slider-left-col">
                <div class="our-clients__clients-slider-main">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="our-clients__clients-slider-main-card">
                                    <img src="img/main-clients-slider.jpg" alt=""
                                        class="our-clients__clients-slider-main-card-image">

                                    <svg width="24" height="24" aria-hidden="true" class="icon-clients-play">
                                        <use xlink:href="#clients-play" />
                                    </svg>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="our-clients__clients-slider-main-card">
                                    <img src="img/about-gallery/2.jpg" alt=""
                                        class="our-clients__clients-slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="our-clients__clients-slider-main-card">
                                    <img src="img/main-clients-slider.jpg" alt=""
                                        class="our-clients__clients-slider-main-card-image">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-clients-play">
                                        <use xlink:href="#clients-play" />
                                    </svg>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="our-clients__clients-slider-main-card">
                                    <img src="img/about-gallery/2.jpg" alt=""
                                        class="our-clients__clients-slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="our-clients__clients-slider-main-card">
                                    <img src="img/about-gallery/1.jpg" alt=""
                                        class="our-clients__clients-slider-main-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-clients__clients-slider-right-col">
                <div class="our-clients__clients-slider-progress">

                </div>
                <div class="our-clients__clients-slider-text-tabs">
                    <div class="our-clients__clients-slider-text-tab">
                        We are a comprehensive design and technology partner for the digital age. We help businesses to
                        innovate and remain highly relevant to their customers by developing cutting-edge digital
                        products and executing smart and valuable communication.
                    </div>
                    <div class="our-clients__clients-slider-text-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, soluta quas? Nihil amet delectus
                        quae obcaecati quo fugit tempora culpa. Ab deleniti magnam eos mollitia, fugit architecto
                        tenetur! Voluptatibus, suscipit molestias! Laudantium officia at voluptates nam perferendis nisi
                        enim dicta?
                    </div>
                    <div class="our-clients__clients-slider-text-tab">
                        We are a comprehensive design and technology partner for the digital age. We help businesses to
                        innovate and remain highly relevant to their customers by developing cutting-edge digital
                        products and executing smart and valuable communication.
                    </div>
                    <div class="our-clients__clients-slider-text-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, soluta quas? Nihil amet delectus
                        quae obcaecati quo fugit tempora culpa. Ab deleniti magnam eos mollitia, fugit architecto
                        tenetur! Voluptatibus, suscipit molestias! Laudantium officia at voluptates nam perferendis nisi
                        enim dicta?
                    </div>
                    <div class="our-clients__clients-slider-text-tab">
                        Ab voluptatum quis maiores! Ullam provident
                        iure excepturi officia voluptate ducimus nobis deserunt libero eos ut inventore pariatur
                        asperiores, perspiciatis in quibusdam fugit accusantium quas harum voluptatem consequatur vero
                        quasi ea adipisci laudantium! Quos culpa quod nostrum quas optio.
                    </div>
                </div>
                <div class="our-clients__clients-slider-author">
                    <div class="our-clients__clients-slider-author-photos">
                        <div class="our-clients__clients-slider-photo">
                            <img src="img/author-photo.jpg" alt="" class="our-clients__clients-slider-photo-image">
                        </div>
                        <div class="our-clients__clients-slider-photo">
                            <img src="img/author-photo.jpg" alt="" class="our-clients__clients-slider-photo-image">
                        </div>
                        <div class="our-clients__clients-slider-photo">
                            <img src="img/author-photo.jpg" alt="" class="our-clients__clients-slider-photo-image">
                        </div>
                        <div class="our-clients__clients-slider-photo">
                            <img src="img/author-photo.jpg" alt="" class="our-clients__clients-slider-photo-image">
                        </div>
                        <div class="our-clients__clients-slider-photo">
                            <img src="img/author-photo.jpg" alt="" class="our-clients__clients-slider-photo-image">
                        </div>
                    </div>
                    <div class="our-clients__clients-slider-author-info">
                        <div class="our-clients__clients-slider-author-info-item">
                            <div class="our-clients__clients-slider-author-info-name">
                                Viktor Anatolievixh
                            </div>
                            <div class="our-clients__clients-slider-author-info-role">
                                CIO, GE Money Bank
                            </div>
                        </div>
                        <div class="our-clients__clients-slider-author-info-item">
                            <div class="our-clients__clients-slider-author-info-name">
                                Viktor Anatolievixh
                            </div>
                            <div class="our-clients__clients-slider-author-info-role">
                                CIO, GE Money Bank
                            </div>
                        </div>
                        <div class="our-clients__clients-slider-author-info-item">
                            <div class="our-clients__clients-slider-author-info-name">
                                Viktor Anatolievixh
                            </div>
                            <div class="our-clients__clients-slider-author-info-role">
                                CIO, GE Money Bank
                            </div>
                        </div>
                        <div class="our-clients__clients-slider-author-info-item">
                            <div class="our-clients__clients-slider-author-info-name">
                                Viktor Anatolievixh
                            </div>
                            <div class="our-clients__clients-slider-author-info-role">
                                CIO, GE Money Bank
                            </div>
                        </div>
                        <div class="our-clients__clients-slider-author-info-item">
                            <div class="our-clients__clients-slider-author-info-name">
                                Viktor Anatolievixh
                            </div>
                            <div class="our-clients__clients-slider-author-info-role">
                                CIO, GE Money Bank
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-clients__clients-slider-bottom-panel">
                    <div class="our-clients__clients-slider-pagination">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="our-clients__clients-slider-pagination-item">
                                        <img src="img/about-partners/6.svg" alt=""
                                            class="our-clients__clients-slider-pagination-item-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-clients__clients-slider-pagination-item">
                                        <img src="img/about-partners/2.svg" alt=""
                                            class="our-clients__clients-slider-pagination-item-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-clients__clients-slider-pagination-item">
                                        <img src="img/about-partners/3.svg" alt=""
                                            class="our-clients__clients-slider-pagination-item-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-clients__clients-slider-pagination-item">
                                        <img src="img/about-partners/4.svg" alt=""
                                            class="our-clients__clients-slider-pagination-item-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-clients__clients-slider-pagination-item">
                                        <img src="img/about-partners/5.svg" alt=""
                                            class="our-clients__clients-slider-pagination-item-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-clients__clients-slider-arrows">
                        <button class="our-clients__clients-slider-arrow our-clients__clients-slider-arrow--prev">
                            <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                <use xlink:href="#slider-arrow-left" />
                            </svg>
                        </button>
                        <button class="our-clients__clients-slider-arrow our-clients__clients-slider-arrow--next">
                            <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                <use xlink:href="#slider-arrow-right" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-us js-contact-us-modal" data-midnight="light">

    <div class="contact-us__inner">
        <div class="contact-us__orb-wrapper">
            <div class="contact-us__orb">
                <div class="contact-us__orb-inner">

                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="contact-us__small-heading">
                Расчитать проект
            </h2>
            <form action="/" method="GET" class="contact-us__form" data-need-validation="">
                <div class="contact-us__layers">
                    <div class="contacts-us__layer active">
                        <div class="contact-us__intro-text">
                            <p>
                                Сегодня в Монреале красиво! Да я знаю, я тоже красивый — спасибо. Если ты закончил
                                флирт,
                                что я
                                могу
                                сделать для вас?
                            </p>
                        </div>
                        <div class="contact-us__links">
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="website" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Сайт
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="service" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Веб-сервис
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="identica" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Айдентика
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="app" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Мобильное приложение
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="misc" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Другое
                                </span>

                            </label>
                        </div>
                    </div>
                    <div class="contacts-us__layer">
                        <div class="contact-us__intro-text">
                            <p>
                                Опишите свою задачу
                            </p>
                        </div>
                        <div class="contact-us__application">
                            <div class="contact__form-rows">
                                <div class="contact__form-row">

                                    <textarea name="task" class="contact__form-input"></textarea>
                                    <label class="contact__form-file js-file-upload">
                                        <input type="file" class="contact__form-file-input">
                                        <span class="contact__form-file-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                                <use xlink:href="#file" />
                                            </svg>
                                            <span class="contact__form-file-text js-file-upload-text">
                                                Прикрепите файл
                                            </span>
                                        </span>
                                    </label>
                                </div>
                                <div class="contact__form-row">
                                    <h4 class="contact__form-subheading">
                                        Как вас зовут
                                    </h4>

                                    <input type="text" name="name" class="contact__form-input" required>
                                </div>
                                <div class="contact__form-row contact__form-row--half">
                                    <h4 class="contact__form-subheading">
                                        Телефон
                                    </h4>

                                    <input type="tel" name="phone" class="contact__form-input js-phone-input"
                                        data-parsley-phone="" required="">
                                </div>
                                <div class="contact__form-row contact__form-row--half">
                                    <h4 class="contact__form-subheading">
                                        Эл. почта
                                    </h4>

                                    <input type="email" name="email" class="contact__form-input">
                                </div>
                            </div>
                            <button class="contact__form-submit contact__form-submit--left-auto" type="submit">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <button class="contact-us__close-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}