{{#extend "layout"}}
{{#content "main"}}

<section class="intro js-intro-slider">
    <div class="intro__cursor">
        
    </div>
    <div class="intro__backgrounds">
        <div class="intro__background" style="background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%)">

        </div>
        <div class="intro__background" style="background: linear-gradient(91.34deg, #632017 2.06%, #d8403d 100%)">

        </div>
        <div class="intro__background" style="background: linear-gradient(91.34deg, #ffb26a
 2.06%, rgb(250, 143, 93)
 100%)" data-light-bg>

        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-info">
                <a href="#" class="intro__about-link" data-text="О студии">
                    <div class="intro__about-link-inner">
                        О студии
                    </div>

                </a>
            </div>
            <div class="intro__slogan">
                <p>
                    Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                </p>
            </div>
            <div class="intro__services">
                <a href="#to-cases" class="intro__services-link" data-text="Сайты">
                    <div class="intro__services-link-inner">
                        Сайты
                    </div>
                </a>
                <a href="#to-cases" class="intro__services-link" data-text="Приложения">
                    <div class="intro__services-link-inner">
                        Приложения
                    </div>
                </a>
                <a href="#to-expertise" class="intro__services-link" data-text="Экспертиза">

                    <div class="intro__services-link-inner">
                        Экспертиза
                    </div>
                </a>



            </div>

            <div class="intro__slider">
                <div class="intro__slider-content">
                    <div class="intro__slider-fresh-site">
                        Свежий сайт
                    </div>
                    <div class="intro__slider-bottom-row">
                        <div class="intro__slider-descriptions">
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Образование
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Банк Казани»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Услуги
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Эксперт»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Услуги
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Светлый фон
                                </h4>
                            </a>
                        </div>
                        <div class="intro__slider-images">
                            <div class="intro__slider-image-wrapper">
                                <img src="img/iphone-new.png" alt="" class="intro__slider-image">
                            </div>
                            <div class="intro__slider-image-wrapper">
                                <img src="img/expert-new.png" alt="" class="intro__slider-image">
                            </div>
                            <div class="intro__slider-image-wrapper">
                                <img src="img/iphone-new.png" alt="" class="intro__slider-image">
                            </div>



                        </div>
                        <div class="intro__slider-arrows">
                            <button class="intro__slider-arrow intro__slider-arrow--prev">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-left" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                            <button class="intro__slider-arrow intro__slider-arrow--next">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-right" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                        </div>
                        <div class="intro__slider-pagination">
                            <div class="intro__slider-pagination-bullet">

                            </div>
                            <div class="intro__slider-pagination-bullet">

                            </div>
                            <div class="intro__slider-pagination-bullet">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="news-slider js-news-slider" data-midnight="dark">
    <div class="container">
        <div class="news-slider__content">


            <div class="news-slider__top-row">
                <h2 class="news-slider__heading">
                    Студия говорит
                </h2>
                <a href="#" class="news-slider__more">
                    Перейти
                    <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </a>
            </div>
            <div class="news-slider__navigation">
                <div class="news-slider__navigation-links">
                    <ul class="news-slider__navigation-links-list">
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link active">
                                Все категории
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                Новости студии
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                Диджитал-разборы
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                Веб-индустрия
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                UX
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                UI
                            </a>
                        </li>
                        <li class="news-slider__navigation-links-list-item">
                            <a href="#" class="news-slider__navigation-link">
                                E-commerce
                            </a>
                        </li>
                    </ul>



                </div>
                <div class="news-slider__arrows">
                    <button class="news-slider__arrow news-slider__arrow--prev">
                        <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                    </button>
                    <button class="news-slider__arrow news-slider__arrow--next">
                        <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="news-slider__tabs">
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="news-slider__tab">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Отзывчивый банкинг:<br> что это и почему это важно
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Финансы входят в топ самых «диджитальных» отраслей.
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-slider__card">
                                    <div class="news-slider__card-date">
                                        25 января 2022
                                    </div>
                                    <h4 class="news-slider__card-title">
                                        Рисование пальцами с помощью машинного обучения
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="news-slider__card-cursor">
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>
                <div class="news-slider__card-cursor-layer">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/cursor-image.jpg" alt="" class="news-slider__card-cursor-image">
                    <img src="img/author.jpg" alt="" class="news-slider__card-cursor-image">
                </div>

            </div>


        </div>
    </div>
</section>


<section class="cases js-cases" data-midnight="light" id="cases">
    <div class="container">
        <div class="cases__top-nav">
            <div class="cases__top-nav-intro-row">
                <div class="cases__top-nav-intro-row-fresh-cases">
                    Свежие кейсы
                </div>

                <a href="#" class="cases__top-nav-show-all">
                    <span class="cases__top-nav-show-all-text">
                        Смотреть все
                    </span>


                    <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </a>
            </div>
            <div class="cases__top-nav-links-row">
                <h2 class="cases__heading">
                    Лучший дизайн, <br>что вы видели
                </h2>

                <nav class="cases__top-navigation">
                    <a href="#" class="cases__top-navigation-link" data-all-categories="">
                        <span class="cases__top-navigation-link-text" data-text="Все подряд">
                            Все подряд
                        </span>

                        <span class="cases__top-navigation-link-count" data-text="56">
                            56
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="websites">

                        <span class="cases__top-navigation-link-text" data-text="Сайты">
                            Сайты
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="43">
                            43
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="applications">
                        <span class="cases__top-navigation-link-text" data-text="Приложения">
                            Приложения
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="5">
                            5
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="branding">

                        <span class="cases__top-navigation-link-text" data-text="Брендинг">
                            Брендинг
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="11">
                            11
                        </span>
                    </a>
                </nav>



            </div>

        </div>

        <div class="cases__image-grid">
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/1.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications" data-parallax-offset="-50">
                <img data-src="img/cases/2.jpg" alt="" class="cases__image-grid-card-image lazyload">
                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/3.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications" data-parallax-offset="-40">
                <img data-src="img/cases/4.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card cases__image-grid-card--dark" data-category="websites"
                data-parallax-offset="-20">
                <img data-src="img/cases/5.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/6.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card cases__image-grid-card--dark" data-category="applications"
                data-parallax-offset="-60">
                <img data-src="img/cases/7.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/8.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/9.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
        </div>

        <div class="cases__bottom-nav">
            <a href="#" class="cases__bottom-nav-link">
                Смотреть все кейсы
                <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right" />
                </svg>
            </a>
        </div>

    </div>
</section>


<section class="expertise js-expertise" data-midnight="dark" id="expertise">
    <div class="container">
        <div class="expertise__nav">
            <h2 class="expertise__heading">
                Экспертиза в отраслях
            </h2>
            <div class="expertise__navigation-links">
                <a href="#" class="expertise__navigation-link">
                    Финансы
                </a>
                <a href="#" class="expertise__navigation-link">
                    Медиа и СМИ
                </a>
                <a href="#" class="expertise__navigation-link">
                    IT
                </a>
                <a href="#" class="expertise__navigation-link">
                    Производство
                </a>
                <a href="#" class="expertise__navigation-link">
                    Услуги
                </a>
                <a href="#" class="expertise__navigation-link">
                    E-commerce
                </a>
                <a href="#" class="expertise__navigation-link">
                    Недвижимость
                </a>
            </div>
        </div>
        <div class="expertise__nav-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Финансы
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Медиа и СМИ
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            IT
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Производство
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Услуги
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            E-commerce
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Недвижимость
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise__main-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="contact.html" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-us js-contact-us-modal" data-midnight="light">
    <div class="contact-us__orb-wrapper">
        <div class="contact-us__orb">
            <div class="contact-us__orb-inner">

            </div>
        </div>
    </div>
    <div class="contact-us__inner">


        <div class="container">
            <h2 class="contact-us__small-heading">
                Расчитать проект
            </h2>
            <form action="/" method="GET" class="contact-us__form">
                <div class="contact-us__layers">
                    <div class="contacts-us__layer active">
                        <div class="contact-us__intro-text">
                            <p>
                                Сегодня в Монреале красиво! Да я знаю, я тоже красивый — спасибо. Если ты закончил
                                флирт,
                                что я
                                могу
                                сделать для вас?
                            </p>
                        </div>
                        <div class="contact-us__links">
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="website" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Сайт
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="service" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Веб-сервис
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="identica" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Айдентика
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="app" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Мобильное приложение
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="misc" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Другое
                                </span>

                            </label>
                        </div>
                    </div>
                    <div class="contacts-us__layer">
                        <div class="contact-us__intro-text">
                            <p>
                                Говорить о деньгах - это грубо? У меня нет манер, я компьютер. Каков ваш бюджет для
                                этого
                                полного веб-проекта?
                            </p>
                        </div>
                        <div class="contact-us__links">
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="300" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    До 300 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="500" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    300 000 - 500 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="800" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    500 000 - 800 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="1000" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Больше 1 000 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="2000" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Больше 2 000 000 ₽
                                </span>

                            </label>

                        </div>
                    </div>
                </div>
            </form>
            <button class="contact-us__close-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}