{{#extend "layout"}}
{{#content "main"}}

<section class="intro js-intro-slider">
    <div class="intro__backgrounds">
        <div class="intro__background" style="background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%)">

        </div>
        <div class="intro__background" style="background: linear-gradient(91.34deg, #632017 2.06%, #d8403d 100%)">

        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__slogan">
                <p>
                    Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                </p>
            </div>
            <h3 class="intro__services">
                <a href="#" class="intro__services-link" data-text="Сайты">
                    <div class="intro__services-link-inner">
                        Сайты
                    </div>
                </a>
                <a href="#" class="intro__services-link" data-text="Приложения">
                    <div class="intro__services-link-inner">
                        Приложения
                    </div>
                </a>
                <a href="#" class="intro__services-link" data-text="Экспертиза">

                    <div class="intro__services-link-inner">
                        Экспертиза
                    </div>
                </a>



            </h3>

            <div class="intro__slider">
                <div class="intro__slider-content">
                    <div class="intro__slider-fresh-site">
                        Свежий сайт
                    </div>
                    <div class="intro__slider-bottom-row">
                        <div class="intro__slider-descriptions">
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Образование
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Банк Казани»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Услуги
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Эксперт»
                                </h4>
                            </a>
                        </div>
                        <div class="intro__slider-images">
                            <img src="img/iphone.png" alt="" class="intro__slider-image" style="bottom: -10rem; right: -14rem; width: 62rem; ">
                            <img src="img/expert.png" alt="" class="intro__slider-image" style="bottom: -2rem; right: 0rem; width: 60rem;">
                        </div>
                        <div class="intro__slider-arrows">
                            <button class="intro__slider-arrow intro__slider-arrow--prev" style="--slider-progress: 1;">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-left" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                            <button class="intro__slider-arrow intro__slider-arrow--next" style="--slider-progress: 1;">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-right" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="main-slider" id="main-slider">
    <div class="container">
        <div class="main-slider__row">
            <div class="main-slider__left-col">
                <h2 class="main-slider__heading">
                    Наши<br> истории
                </h2>
                <ul class="main-slider__list">
                    <li class="main-slider__list-item">
                        <a href="#" class="main-slider__link active">
                            Все подряд
                            <span class="main-slider__link-count">
                                26
                            </span>
                        </a>
                    </li>
                    <li class="main-slider__list-item">
                        <a href="#" class="main-slider__link">
                            Новость
                            <span class="main-slider__link-count">
                                12
                            </span>
                        </a>
                    </li>
                    <li class="main-slider__list-item">
                        <a href="#" class="main-slider__link">
                            Студия
                            <span class="main-slider__link-count">
                                16
                            </span>
                        </a>
                    </li>
                    <li class="main-slider__list-item">
                        <a href="#" class="main-slider__link">
                            Вакансии
                            <span class="main-slider__link-count">
                                8
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-slider__right-col">
                <div class="main-slider__tabs">
                    <div class="main-slider__tabs-item">
                        <div class="main-slider__slider js-main-slider">
                            <div class="main-slider__cards">
                                <div class="main-slider__card main-slider__card--1">
                                    <div class="main-slider__card-container">
                                        <div class="main-slider__card-controls">

                                        </div>
                                        <a href="#" class="main-slider__card-author">
                                            <div class="main-slider__card-author-avatar">
                                                <img src="img/author.jpg" alt=""
                                                    class="main-slider__card-author-avatar-image">
                                            </div>
                                            <div class="main-slider__card-name">
                                                Рустем Биктагиров
                                            </div>
                                        </a>
                                        <div class="main-slider__card-images">
                                            <img src="img/main-slider/5.jpg" alt=""
                                                class="main-slider__card-image active">
                                            <img src="img/main-slider/1.jpg" alt="" class="main-slider__card-image">
                                            <img src="img/main-slider/2.jpg" alt="" class="main-slider__card-image">
                                            <img src="img/main-slider/3.jpg" alt="" class="main-slider__card-image">
                                        </div>
                                        <div class="main-slider__card-text-slider">
                                            <div class="main-slider__card-text active">
                                                <span>
                                                    Выступление<br> на конференции Битрикс<br> «Формула сайта» в IT
                                                    Park<br>
                                                    Казань
                                                </span>

                                            </div>
                                            <div class="main-slider__card-text">
                                                <span>
                                                    Подпись для<br> второго изображения
                                                </span>

                                            </div>
                                            <div class="main-slider__card-text">
                                                <span>
                                                    Подпись для<br> третьего изображения
                                                </span>

                                            </div>
                                            <div class="main-slider__card-text">
                                                <span>
                                                    Подпись для<br> четвертого изображения
                                                </span>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="main-slider__card main-slider__card--2">
                                    <div class="main-slider__card-container">
                                        <div class="main-slider__card-controls">

                                        </div>
                                        <a href="#" class="main-slider__card-author">
                                            <div class="main-slider__card-author-avatar">
                                                <img src="img/author.jpg" alt=""
                                                    class="main-slider__card-author-avatar-image">
                                            </div>
                                            <div class="main-slider__card-name">
                                                Рустем Биктагиров
                                            </div>
                                        </a>
                                        <div class="main-slider__card-images">
                                            <img src="img/main-slider/1.jpg" alt="" class="main-slider__card-image">
                                            <img src="img/main-slider/4.jpg" alt="" class="main-slider__card-image">
                                        </div>

                                    </div>
                                </div>
                                <div class="main-slider__card main-slider__card--3">
                                    <div class="main-slider__card-container">
                                        <div class="main-slider__card-controls">

                                        </div>
                                        <a href="#" class="main-slider__card-author">
                                            <div class="main-slider__card-author-avatar">
                                                <img src="img/author.jpg" alt=""
                                                    class="main-slider__card-author-avatar-image">
                                            </div>
                                            <div class="main-slider__card-name">
                                                Рустем Биктагиров
                                            </div>
                                        </a>
                                        <div class="main-slider__card-images">
                                            <img src="img/main-slider/2.jpg" alt="" class="main-slider__card-image">
                                            <img src="img/main-slider/3.jpg" alt="" class="main-slider__card-image">
                                        </div>


                                        <div class="main-slider__card-text-slider">
                                            <div class="main-slider__card-text">
                                                <span>
                                                    Выступление<br> на конференции Битрикс<br> «Формула сайта» в IT
                                                    Park<br>
                                                    Казань
                                                </span>

                                            </div>
                                            <div class="main-slider__card-text">
                                                <span>
                                                    Выступление<br> на другой конференции
                                                </span>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="main-slider__card main-slider__card--4">
                                    <div class="main-slider__card-container">
                                        <div class="main-slider__card-images">
                                            <img src="img/main-slider/3.jpg" alt="" class="main-slider__card-image">
                                        </div>

                                    </div>
                                </div>
                                <div class="main-slider__card main-slider__card--5">
                                    <div class="main-slider__card-container">
                                        <div class="main-slider__card-images">
                                            <img src="img/main-slider/4.jpg" alt="" class="main-slider__card-image">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <a href="#" class="main-slider__all-stories-link">
                                Все истории
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="cases js-cases">
    <div class="container">
        <div class="cases__top-nav">
            <div class="cases__top-nav-intro-row">
                <div class="cases__top-nav-intro-row-fresh-cases">
                    Свежие кейсы
                </div>

                <a href="#" class="cases__top-nav-show-all">
                    Смотреть все

                    <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </a>
            </div>
            <div class="cases__top-nav-links-row">
                <h2 class="cases__heading">
                    Лучший дизайн, <br>что вы видели
                </h2>

                <nav class="cases__top-navigation">
                    <a href="#" class="cases__top-navigation-link active" data-all-categories="">
                        <span class="cases__top-navigation-link-text">
                            Все подряд
                        </span>

                        <span class="cases__top-navigation-link-count">
                            56
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="websites">

                        <span class="cases__top-navigation-link-text">
                            Сайты
                        </span>
                        <span class="cases__top-navigation-link-count">
                            43
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="applications">
                        <span class="cases__top-navigation-link-text">
                            Приложения
                        </span>
                        <span class="cases__top-navigation-link-count">
                            5
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="branding">

                        <span class="cases__top-navigation-link-text">
                            Брендинг
                        </span>
                        <span class="cases__top-navigation-link-count">
                            11
                        </span>
                    </a>
                </nav>



            </div>
            <a href="#" class="cases__promo">
                <picture>
                    <source data-srcset="img/iphone-cases.webp" type="image/webp">
                    <img data-src="img/iphone-cases.png" alt="" class="lazyload">
                </picture>
            </a>
        </div>

        <div class="cases__image-grid">
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/1.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications">
                <img data-src="img/cases/2.jpg" alt="" class="cases__image-grid-card-image lazyload">
                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-type">
                        Свежий проект
                    </div>
                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/3.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications">
                <img data-src="img/cases/4.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/5.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/6.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications">
                <img data-src="img/cases/7.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/8.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/9.jpg" alt="" class="cases__image-grid-card-image lazyload">
            </a>
        </div>

        <div class="cases__bottom-nav">
            <a href="#" class="cases__bottom-nav-link">
                Смотреть все кейсы
                <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right" />
                </svg>
            </a>
        </div>

    </div>
</section>


<section class="expertise js-expertise">
    <div class="container">
        <div class="expertise__nav">
            <h2 class="expertise__heading">
                Экспертиза в отраслях
            </h2>
            <div class="expertise__navigation-links">
                <a href="#" class="expertise__navigation-link">
                    Финансы
                </a>
                <a href="#" class="expertise__navigation-link">
                    Медиа и СМИ
                </a>
                <a href="#" class="expertise__navigation-link">
                    IT
                </a>
                <a href="#" class="expertise__navigation-link">
                    Производство
                </a>
                <a href="#" class="expertise__navigation-link">
                    Услуги
                </a>
                <a href="#" class="expertise__navigation-link">
                    E-commerce
                </a>
                <a href="#" class="expertise__navigation-link">
                    Недвижимость
                </a>
            </div>
        </div>
        <div class="expertise__nav-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Финансы
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Медиа и СМИ
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            IT
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Производство
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Услуги
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            E-commerce
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Недвижимость
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise__main-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="contact-us__orb">
        <div class="contact-us__orb-inner">

        </div>
    </div>
    <div class="container">
        <h2 class="contact-us__small-heading">
            Расчитать проект
        </h2>
        <div class="contact-us__intro-text">
            <p>
                Сегодня в Монреале красиво! Да я знаю, я тоже красивый — спасибо. Если ты закончил флирт, что я могу
                сделать для вас?
            </p>
        </div>
        <div class="contact-us__links">
            <a href="#" class="contact-us__link">
                Сайт
            </a>
            <a href="#" class="contact-us__link">
                Веб-сервис
            </a>
            <a href="#" class="contact-us__link">
                Айдентика
            </a>
            <a href="#" class="contact-us__link">
                Мобильное приложение
            </a>
            <a href="#" class="contact-us__link">
                Другое
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}