{{#extend "layout"}}
{{#content "main"}}

<section class="breadcrumbs breadcrumbs--dark" data-midnight="dark">
    <div class="container">
        <div class="breadcrumbs__row">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Студия говорит
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="news-meta" data-midnight="dark">
    <div class="container">
        <div class="news-meta__row">
            <div class="news-meta__tags">
                <div class="news-meta__tag">
                    UX
                </div>
                <div class="news-meta__tag">
                    Веб-индустрия
                </div>
            </div>
            <div class="news-meta__date">
                25 января 2022
            </div>
        </div>
    </div>
</section>

<section class="news-intro" data-midnight="dark">
    <div class="container">
        <div class="news-intro__content">
            <div class="news-intro__row">


                <div class="default-content news-intro__info">
                    <h1>
                        Отзывчивый банкинг: что это и почему это важно
                    </h1>
                    <p>
                        После нескольких финансовых кризисов уровень доверия к банкам на рекордно низком уровне.
                    </p>
                </div>
                <div class="news-intro__preview">
                    <img src="img/cursor-image.jpg" alt="" class="news-intro__preview-image">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-simple" data-midnight="dark">
    <div class="container">
        <div class="news-simple__content">
            <div class="default-content news-simple__info">
                <p>
                    <a href="#">Банковская индустрия</a> переживает беспрецедентные изменения — ничего подобного мы
                    раньше не видели. После нескольких финансовых кризисов уровень доверия к банкам на рекордно низком
                    уровне. В то же время парадоксальным образом по прогнозам на рынок в этом году войдет ещё больше
                    игроков: бизнес чувствует, что любой кризис — это возможность изменить текущее положение дел в
                    экономике.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="news-simple" data-midnight="dark">
    <div class="container">
        <div class="news-simple__content">
            <div class="default-content news-simple__info">
                <h2>
                    Интегрированные услуги: что нужно клиентам?
                </h2>
                <p>
                    До самого последнего времени банки действовали по принципу «были бы услуги, а клиент найдется».
                    Зачем стараться улучшать сервис, если можно улучшать свои предложения? Банковские продукты почти не
                    отличаются друг от друга — говоря откровенно, разница только в ставках, но фундаментальных различий
                    между ними нет. Цифровые банки-инноваторы действуют по-другому. В первую очередь их интересует
                    вопрос «что нужно нашим клиентам»? И они правы — времена, когда у них не было
                </p>
                <h3>
                    Интегрированные услуги: что нужно клиентам?
                </h3>
                <p>
                    До самого последнего времени банки действовали по принципу «были бы услуги, а клиент найдется».
                    Зачем стараться улучшать сервис, если можно улучшать свои предложения? Банковские продукты почти не
                    отличаются друг от друга — говоря откровенно, разница только в ставках, но фундаментальных различий
                    между ними нет. Цифровые банки-инноваторы действуют по-другому. В первую очередь их интересует
                    вопрос «что нужно нашим клиентам»? И они правы — времена, когда у них не было
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, sunt!
                </p>
                <ul>
                    <li>
                        любой кризис — это возможность изменить текущее положение дел в экономике
                    </li>
                    <li>
                        любой кризис — это очередная стадия экономического развития общества
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="news-comment" data-midnight="dark">
    <div class="container">
        <div class="news-comment__content">
            <h2 class="news-comment__heading">
                Комментарий студии
            </h2>
            <div class="news-comment__row">
                <div class="news-comment__author">
                    <div class="news-comment__author-photo-container">
                        <img src="img/news-author.jpg" alt="" class="news-comment__author-photo">
                    </div>
                    <div class="news-comment__author-name">
                        Мирослава Вебер
                    </div>
                    <div class="news-comment__author-role">
                        Дизайнер
                    </div>
                </div>
                <div class="news-comment__text">
                    До самого последнего времени банки действовали по принципу «были бы услуги, а клиент найдется».
                    Зачем стараться улучшать сервис, если можно улучшать свои предложения?
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-question" data-midnight="dark">
    <div class="container">
        <div class="news-question__content">
            <div class="news-question__row">
                <div class="news-question__text-content">
                    <h2 class="news-question__heading">
                        Остались вопросы?
                    </h2>
                    <div class="news-question__text">
                        Утолим вашу жажду
                    </div>
                </div>
                <a href="#" class="news-question__link">
                    Задать вопрос
                </a>
            </div>
        </div>
    </div>
</section>

<section class="news-image" data-midnight="dark">
    <div class="container">
        <div class="news-image__content">
            <img src="img/news-imaeg.jpg" alt="" class="news-image__image">
            <div class="news-image__row">
                <div class="news-image__description">
                    <p>
                        Картинка с описанием + кнопка
                    </p>
                </div>
                <a href="#" class="news-image__link">
                    Задать вопрос
                </a>
            </div>
        </div>
    </div>
</section>

<section class="news-remarked" data-midnight="dark">
    <div class="container">
        <div class="news-remarked__content">
            <div class="news-remarked__row">
                <div class="news-remarked__col">
                    <div class="default-content news-remarked__text">
                        <p>
                            До самого последнего времени банки действовали по принципу «были бы услуги, а клиент
                            найдется». Зачем стараться улучшать сервис, если можно улучшать свои предложения? Банковские
                            продукты почти не отличаются друг от друга — говоря откровенно, разница только в ставках, но
                            фундаментальных различий между ними нет. Цифровые банки-инноваторы действуют по-другому. В
                            первую очередь их интересует вопрос «что нужно нашим клиентам»?
                        </p>
                        <ol>
                            <li>
                                любой кризис — это возможность изменить текущее положение дел в экономике
                            </li>
                            <li>
                                любой кризис — это очередная стадия экономического развития общества
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="news-remarked__col">
                    <div class="news-remarked__small-text">
                        <p>
                            Банковская индустрия переживает беспрецедентные изменения — ничего подобного мы раньше не
                            видели. После нескольких финансовых кризисов уровень доверия к банкам на рекордно низком
                            уровне.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-blockquote" data-midnight="dark">
    <div class="container">
        <div class="news-blockquote__content">
            <blockquote class="news-blockquote__text">
                <p>
                    Банковская индустрия переживает беспрецедентные изменения — ничего подобного мы раньше не видели.
                    После нескольких финансовых кризисов уровень доверия к банкам на рекордно низком уровне. В то же
                    время парадоксальным образом по прогнозам на рынок в этом году войдет ещё больше игроков: бизнес
                    чувствует, что любой кризис — это возможность изменить текущее положение дел в экономике.
                </p>
            </blockquote>
        </div>
    </div>
</section>


<section class="news-image-fullwidth" data-midnight="dark">
    <img src="img/news-image-fullwidth.jpg" alt="" class="news-image-fullwidth-image">
</section>

<section class="news-author" data-midnight="dark">
    <div class="container">
        <div class="news-author__content">
            <div class="news-author__row">


                <div class="news-author__info">
                    <div class="news-author__photo-container">
                        <img src="img/news-author.jpg" alt="" class="news-author__photo">
                    </div>
                    <div class="news-author__info-content">
                        <div class="news-author__name">
                            Мирослава Вебер
                        </div>
                        <div class="news-author__role">
                            Автор статьи, дизайнер
                        </div>
                    </div>
                </div>
                <div class="news-author__social">
                    <a href="#" class="news-author__social-link">
                        <div class="news-author__social-name">
                            Instagram
                        </div>
                        <div class="news-author__social-account">
                            @rustembiktagirov
                        </div>
                    </a>
                    <a href="#" class="news-author__social-link">
                        <div class="news-author__social-name">
                            Telegram
                        </div>
                        <div class="news-author__social-account">
                            @rustembiktagirov
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="read-also" data-midnight="light">
    <div class="container">
        <div class="read-also__content">
            <div class="read-also__top-row">
                <div class="read-also__info">
                    <div class="read-also__text">
                        <p>
                            О наших людях, диджитале и экспертизе. Делимся тем, что любим.
                        </p>
                    </div>
                    <a href="#" class="read-also__btn">
                        Смотреть все
                    </a>
                </div>
                <h2 class="read-also__heading">
                    Читайте<br> также
                </h2>
            </div>
            <ul class="read-also__list">
                <li class="read-also__list-item">
                    <a href="#" class="read-also__card">
                        <div class="read-also__card-content">


                            <div class="read-also__card-tags">
                                <div class="read-also__card-tag">
                                    Новости студии
                                </div>
                                <div class="read-also__card-tag">
                                    Диджитал-разборы
                                </div>
                            </div>
                            <h3 class="read-also__card-title">
                                Отзывчивый банкинг: что это и почему это важно
                            </h3>
                            <div class="read-also__card-date">
                                25 января 2022
                            </div>
                        </div>
                        <div class="read-also__card-image-container">
                            <img data-src="img/read-also/1.jpg" alt="" class="read-also__card-image lazyload">
                        </div>
                    </a>
                </li>
                <li class="read-also__list-item">
                    <a href="#" class="read-also__card">
                        <div class="read-also__card-content">


                            <div class="read-also__card-tags">
                                <div class="read-also__card-tag">
                                    Новости студии
                                </div>

                            </div>
                            <h3 class="read-also__card-title">
                                Финансы входят в топ самых «диджитальных» отраслей
                            </h3>
                            <div class="read-also__card-date">
                                25 января 2022
                            </div>
                        </div>
                        <div class="read-also__card-image-container">
                            <img data-src="img/read-also/2.jpg" alt="" class="read-also__card-image lazyload">
                        </div>
                    </a>
                </li>
                <li class="read-also__list-item">
                    <a href="#" class="read-also__card">
                        <div class="read-also__card-content">


                            <div class="read-also__card-tags">
                                <div class="read-also__card-tag">
                                    Новости студии
                                </div>

                            </div>
                            <h3 class="read-also__card-title">
                                Отзывчивый банкинг: что это и почему это важно
                            </h3>
                            <div class="read-also__card-date">
                                25 января 2022
                            </div>
                        </div>
                        <div class="read-also__card-image-container">
                            <img data-src="img/read-also/3.jpg" alt="" class="read-also__card-image lazyload">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}