.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 700;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    pointer-events: none;

    // &.fixed {

    //     box-shadow: 0 0 1rem rgba(#24282b, 0.2);
    //     color: #24282b;
    //     background-color: white;

    //     .menu-open & {
    //         background: #24282b;
    //         color: white;
    //     }
    // }
}

.menu-open .midnightHeader {
    color: white !important;
}

.page-header__row {
    display: grid;
    align-items: center;
    grid-template-columns: var(--left-column-width) minmax(0, 1fr) var(--right-column-width);
    min-height: var(--header-height);

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
    }
}

.page-header__logo-link {
    transition: none;
    pointer-events: initial;
    position: relative;
    z-index: 200;

    svg {
        width: 10rem;

        @include breakpoint(mobile) {
            width: 8.4rem;
            position: relative;
            bottom: -0.2rem;
        }
    }
}

.page-header__buttons {
    display: flex;
    align-items: center;

    grid-column: 3 / 4;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-header__button {
    margin-right: 7rem;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
    pointer-events: initial;
    @include breakpoint(desktop) {
        width: 40px;
        height: 40px;
    }

    @include breakpoint(mobile) {
        width: 26px;
        height: 26px;
        margin-right: 0;
        order: 10;
        margin-left: auto;
    }

    .no-touch:not(.menu-open) &.hovered {
        .page-header__button-content span {
            transform: scaleX(0.5);
            transition: transform 0.2s ease-out;
        }
    }
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: rgba(white, 0.4);
    pointer-events: initial;
    font-weight: 500;

    @include breakpoint(mobile) {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
        margin-left: 4.7rem;
        font-weight: 400;

        .menu-open & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.4s, visibility 0.4s;
        }
    }

    a {
        &.active {
            color: white;
        }
    }
}

.page-header__button-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 60px;
        height: 2px;
        margin-bottom: 10px;
        transition: transform 0.2s;
        display: block;
        background-color: currentColor;

        @include breakpoint(desktop) {
            margin-bottom: 6px;
            width: 40px;
        }

        @include breakpoint(mobile) {
            width: 26px;
            height: 2px;
            margin-bottom: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }

        .menu-open & {
            &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(-6px) rotate(-45deg);
            }

            @include breakpoint(desktop) {
                &:nth-child(1) {
                    transform: translateY(4px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(-4px) rotate(-45deg);
                }
            }

            @include breakpoint(mobile) {
                &:nth-child(1) {
                    transform: translateY(3px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(-3px) rotate(-45deg);
                }
            }
        }
    }
}

.page-header__contact-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;

    flex-shrink: 0;
    transition: all 0.2s;
    display: inline-flex;
    position: relative;
    pointer-events: initial;
    color: white;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    font-weight: 500;

    @include breakpoint(mobile) {
        margin-right: 2rem;
        bottom: .1rem;
    }
    &::after {
        content: attr(data-text);
        pointer-events: none;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        transition: all 0.3s;
        opacity: 0;
        font: inherit;
    }
    &:link,
    &:visited {
        color: white;
    }

    .light-background & {
        color: #24282b;
        &:link,
        &:visited {
            color: #24282b;
        }
    }

    &.disabled {
        pointer-events: none;
        @include breakpoint(mobile) {
            display: none;
        }
    }

    .no-touch:not(.contact-link-expanded) &:not(.disabled):hover {
        opacity: 0.8;
    }

    @include breakpointMF(small-tablet) {
        .contact-link-expanded &:not(.disabled) {
            padding: 0.9rem 1.5rem;
            border-radius: 4rem;
            color: white !important;
            background: #24282b !important;
            &::after {
                padding: 0.9rem 1.5rem;
            }
        }

        .dark.contact-link-expanded &:not(.disabled) {
            color: #24282b;
            &::before {
                background-color: white;
            }
        }
    }

    .no-touch &:hover {
        .page-header__contact-link-inner {
            transform: translateY(-100%);
            opacity: 0;
        }

        &::after {
            transform: translateY(-100%);
            opacity: 1;
        }
    }
}

.page-header__contact-link-inner {
    transition: transform 0.3s, opacity 0.3s;
}

.midnightHeader.dark {
    color: #24282b;

    .page-header__logo-link svg {
        fill: #24282b;
    }

    .page-header__button-content > span {
        background-color: #24282b;
    }

    .page-header__languages {
        color: rgba(#24282b, 0.4);
        a {
            &.active {
                color: #24282b;
            }
        }
    }

    .page-header__contact-link {
        color: #24282b;
        &:link,
        &:visited {
            color: #24282b;
        }
    }
}
.midnightHeader.light {
    color: white;

    .page-header__logo-link svg {
        fill: white;
    }

    .page-header__button-content > span {
        background-color: white;
    }

    .page-header__languages {
        color: rgba(white, 0.4);
        a {
            &.active {
                color: white;
            }
        }
    }
}

.light-background {
    .page-header__logo-link svg {
        fill: #24282b;
    }
    .page-header__button-content > span {
        background-color: #24282b;
    }

    .page-header__languages {
        color: rgba(#24282b, 0.4);
        a {
            &.active {
                color: #24282b;
            }
        }
    }

    .page-header__contact-link {
        color: #24282b;
        &:link,
        &:visited {
            color: #24282b;
        }
    }
}

.menu-open {
    .page-header {
        color: white !important;
    }

    .page-header__logo-link svg {
        fill: white !important;
    }

    .page-header__button-content > span {
        background-color: white !important;
    }

    .page-header__contact-link {
        color: white !important;
    }

    .page-header__languages {
        color: rgba(white, 0.4) !important;
        a {
            &.active {
                color: white !important;
            }
        }
    }
}
