.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 700;

   
}

.menu-open .midnightHeader {
    color: white !important;
}

.page-header__row {
    display: grid;
    align-items: center;
    grid-template-columns: var(--left-column-width) minmax(0, 1fr) var(--right-column-width);
    min-height: var(--header-height);
}

.page-header__about-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    transition: color .2s;
    justify-self: flex-start;
    transition: color .2s;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    letter-spacing: 0.02em;
    transition: color .2s, opacity .2s;
    &:link,
    &:visited {
        color: currentColor;
    }

    &::after {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        pointer-events: none;
        transition: transform .2s, opacity .2s;
    }

    .no-touch &.hovered {
        opacity: .8;
        .page-header__about-link-inner {
            transform: translateY(-100%);
        }
        &::after {
            transform: translateY(-100%);
        }
    }
}

.page-header__about-link-inner {
 
    transition: transform .2s, opacity .2s;
}

.page-header__logo-image {
    width: 10rem;
}

.page-header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__button {
    margin-right: auto;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;

    .no-touch:not(.menu-open) &.hovered {
        .page-header__button-content span {
            transform: scaleX(0.5);
            transition: transform 0.2s ease-out;
        }
    }
}

.page-header__button-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 6rem;
        height: 2px;
        margin-bottom: 1rem;
        transition: transform 0.2s;
        display: block;
        background-color: currentColor;
        &:last-child {
            margin-bottom: 0;
        }

        .menu-open & {
            &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }

   
}

.page-header__contact-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    flex-shrink: 0;
    transition: color .2s, opacity .2s;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    &:link,
    &:visited {
        color: currentColor;
    }

    &::after {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        pointer-events: none;
        transition: transform .2s, opacity .2s;
    }

    .no-touch &:hover {
        opacity: .8;

        .page-header__contact-link-inner {
            transform: translateY(-100%);
        }
        &::after {
            transform: translateY(-100%);
        }
    }
}


.page-header__contact-link-inner {
    transition: transform .2s, opacity .2s;
}

.midnightHeader.dark {
    color: #24282B;
}